*{
    box-sizing: border-box;
    outline: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root{
    --primary-color: rgb(17, 86, 102);
    --primary-color-darker: rgba(9, 48, 56);
}

body{
    height: 100%;
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.container{
    background: #fff;
    max-width: 640px;
    height: 70%;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.562);
}

p.relogio{
    font-size: 3em;
}

.pausado{
    color: red;
}